#boxLayout {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

table#team-list {
    counter-reset: rowNumber;
}

table#team-list tbody tr:nth-child(n+1) {
    counter-increment: rowNumber;
}

table#team-list tbody tr:nth-child(n+1) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}